<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MusicShare</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav id="navigation">
        <section class="ms-nav-left">
            <button class="ms-nav-logo" onclick="location.href = '@Url.Action("Index", "Home")'">
                MusicShare
            </button>
            @if (User.IsInRole("Administrator"))
            {
            <button class="ms-nav-button" onclick="location.href = '@Url.Action("Index", "Posts")'">
                Posts
            </button>
            <button class="ms-nav-button" onclick="location.href = '@Url.Action("Index", "Songs")'">
                Songs
            </button>
            <button class="ms-nav-button" onclick="location.href = '@Url.Action("Index", "Genres")'">
                Genres
            </button>
            <button class="ms-nav-button" onclick="location.href = '@Url.Action("Index", "Artists")'">
                Artists
            </button>

            <button class="ms-nav-button" onclick="location.href = '@Url.Action("Index", "Favorites")'">
                Favorites
            </button>
            }
        </section>

        <section class="ms-nav-middle">
        </section>

        <section class="ms-nav-right">
            <partial name="_LoginPartial" />
        </section>
    </nav>

    <main id="main">
        @RenderBody()
    </main>

    <footer id="footer">
        &copy; 2020 - MusicShare
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
