@using MusicShare.Models

@{
    ViewData["Title"] = "Home Page";
}
<section id="home">
    @foreach (var post in (IEnumerable<Post>)@ViewData["Posts"])
    {
        <button class="ms-post" onclick="location.href = '@Url.Action("Show", "Posts", new { id = post.Id } )'">
            <div class="ms-post-img" style="background-image:url('@post.ThumbnailLink');"></div>
            <div class="ms-post-song"><h1>@post.Song.Name</h1></div>
            <div class="ms-post-artist "><h4>@post.Artist.Name</h4></div>
            <div class="ms-post-view-count mt-5"><h5>@post.ViewCount  <i class="fas fa-eye"></i></h5></div>
        </button>
    }
</section>