@using MusicShare.Models
@using Microsoft.AspNetCore.Identity
@using MusicShare.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}
<section id="home">
    @foreach (var post in (IEnumerable<Post>)@ViewData["Posts"])
    {
    <article class="ms-post">
        <button class="ms-post-top" onclick="location.href = '@Url.Action("Show", "Posts", new { id = post.Id } )'">
            <div class="ms-post-img" style="background-image:url('@post.ThumbnailLink');"></div>
            <div class="ms-post-song">@post.Song.Name</div>
            <div class="ms-post-artist ">- @post.Artist.Name</div>
        </button>

        @if (SignInManager.IsSignedIn(User))
        {
            <section class="ms-post-bottom">
                
                <div class="ms-post-view-count">
                    @post.ViewCount
                </div>

                <div class="ms-post-view-count-icon">
                    <i class="fas fa-eye"></i>
                </div>
                

                <button class="ms-post-favorite" data-form-method="post" onclick="location.href = '@Url.Action("Favorite", "Favorites", new { id = post.Id } )'">
                    <i class="fas fa-heart"></i>
                </button>
            </section>
        }
    </article>
    }
</section>